.profile-container {
    color: #333;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/lua.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

@media(max-width: 1375px) {
    .profile-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }
}

@media(max-width: 600px) {
    .profile-container {
        height: 100vh;
    }
}